@import "classes.scss";

.ant-form-item {
  margin-bottom: 16px !important;
}

.ant-divider-horizontal {
  //margin: 8px 0 !important;
}

* {
  scrollbar-color: #1890FF #fff;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #1890FF;
  //border-left: 6px solid rgba(0, 0, 0, 0);
  //background-clip: padding-box;
}